body{
    /* margin: 0; */
    /* padding: 0; */
    height: 90vh;
    background-color: #f0f0f0;
    background-image: url(imgs/fondoFullmetal.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* font-family: "Work Sans", sans-serif; */
    letter-spacing: 2vmin;
}

header{
    margin-top: 1em;
    font-size: 1.5em;
    height: 3em;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* text-align: center; */
    /* background-color: blueviolet; */
}


.tituloPrincipal{
    font-size: 4vmin;
    position: absolute;
    font-family: "work Sans", sans-serif;
}

/* ? Efecto de Titulo Principal articulo tomado de Ale Thomas https://pokecoder.hashnode.dev/create-a-wavy-text-effect-with-pure-css*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.borde {
  color: black;  
  text-shadow:
    -1px -1px 0 #f0f0f0, 
    1px -1px 0 #f0f0f0,
    -1px 1px 0 #f0f0f0,
    1px 1px 0 #f0f0f0;  
}

.ondulado {
  color: #EA0007;
  animation: ondulado 1.5s ease-in-out infinite;
}

@keyframes ondulado {
0%, 100% {
    clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
}

50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
}
}
/* ? Finalizacion de efecto texto */

main{
    display: flex;
    height: 90%;
}

.contenedor {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    /* height: 80%;  */
}


.cResultado {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center; 
    justify-content: center;
    /* Alinea el contenido a la derecha */
    /* margin-top: 0px; */
    position: relative;
    width: 30%;
    /* height: 100%; */
}

.txtResultado{
    height: 100%;
    width: 100%;
    /* margin-top: 0px; */
    background-color: rgba(255,255,255,0.6);
    border-radius: 8px;
    transition: 0.6s;
    justify-content: center;
    align-items: center;
    position: relative;
    /* font-weight: bold; */
    letter-spacing: 1.3px;
}

.txtResultado:hover{
    box-shadow: 1px 1px 15px 10px rgba(157,8,35,0.8);
}

.contenidoMensaje{
    /* background-color: black; */
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
}

.avisoInicial{
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.imagenIni{
    width: 70%;
    /* display: block; */
    margin: auto;
    /* align-items: center;
    justify-content: center; */
}
.inicialMensaje{
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
    /* font-weight: 500; */
}

.parrafo{
    font-size: 2vmin;
}


.botonCopiar{
    position: absolute;
    display: none;
    font-size: 2.2vmin;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background-color: rgba(157,8,35,1);
    left: 50%;
    bottom: 30px;
    height: 40px;
    border: none;
    border-radius: 8px;
    transform: translateX(-50%);
    width: 60%;
    transition: 1s;
}

.botonCopiar:hover{
    background-color: #E21A02;
    box-shadow: 1px 1px 15px 10px rgba(0,0,0,0.8);
}

.cMensaje {
    /* display: flex; */
    flex-direction: column;
    align-items: center; /* Alinea el contenido a la izquierda */
    width: 70%;
    height: 80%;
    margin-top: 5%;
}

.txtMensaje{
    width: 100%;
    height: 80%;
    resize: none;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.6);
    transition: 0.6s;
}

.txtMensaje:hover{
    box-shadow: 1px 1px 15px 10px rgba(157,8,35,0.9);
}

.txtMensaje::placeholder{
    font-size: 3vmin;
    color: #444333;
    letter-spacing: 3px;
}

.simbolo{
    background-color: #A50A1F;
    border-radius: 50%;
    width: 2.5vmin;
    height: 2.5vmin;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 2vmin;
    font-weight: bold;
    color: white;
    margin-right: 4px;
    margin-top: 3px;
}

.condiciones{
    display: inline-block;
    position: relative;
    /* padding: 2px; */
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 2vmin;
    letter-spacing: 1.3px;
    /* margin-top: 0px; */
    background-color: rgba(255,255,255,0.8);
    width: 60vmin;
    height: 4vmin;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
}

/* ? Inicio animacion condiciones */

.condiciones::before,
.condiciones::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    /* top: 50%; */
    /* left:50%; */
    /* transform: translate(-50%, -50%); Centra el círculo */
    background-color: rgba(255, 255, 255, 0.5); /* Color de la ola */
    border-radius: 50%;
    animation: olaAnimacion 3s infinite ease-in-out;
}

.condiciones::before {
    top: -50px;
    left: -50px;
}

.condiciones::after {
    bottom: -50px;
    right: -50px;
}

@keyframes olaAnimacion {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* ? fin animacion condiciones */

.boton{
    width: 230px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    border: 0px;
}

.encriptar{
    background-color: #A50A1F;
    color: #fefefe;
    letter-spacing: 3px;
    transition: 1s;
}

.encriptar:hover{
    box-shadow: 1px 1px 15px 10px rgba(0,0,0,0.8);
    background-color: #E21A02;
}

.desencriptar{
    background-color: #000000;
    /* color: #DA0321; */
    color: white;
    letter-spacing: 3px;
    transition: 1s;
}

.desencriptar:hover{
    box-shadow: 1px 1px 15px 10px rgba(255,0,0,0.8);
    background-color: #2A2829;
}

#emergente {
    position: fixed; /* Posición fija para que esté por encima del contenido */
    display: none;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar completamente */
    width: 500px; /* Ancho del modal */
    height: 360px; /* Altura del modal */
    background-color: rgba(255, 255, 255, 0.95); /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espacio interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    text-align: center;
    letter-spacing: 1.2px;
    z-index: 999; /* Z-index para asegurarse de que esté encima de otros elementos */
}

#emergente .imagenAviso {
    width: 50%; /* Asegura que la imagen se ajuste al ancho del modal */
    margin: 0 auto 10px; /* Espacio inferior entre la imagen y el texto */

}

#emergente .avisoEmergente {
    font-size: 16px; /* Tamaño de fuente para el texto */
    margin-bottom: 10px; /* Espacio inferior entre el texto y el botón */
}

#emergente .subT{
    font-size: 20px;
    font-weight: bold;
    color: #E21A02;
}

#emergente .botonOk {
    padding: 10px 20px; /* Espaciado interno para el botón */
    font-size: 14px; /* Tamaño de fuente del botón */
    background-color: #A50A1F; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar por encima */
    margin: 0 auto;
}

#emergente .botonOk:hover{
    background-color: #E21A02;
    box-shadow: 1px 1px 30px 4px rgba(0,0,0,0.5);
}

#emergente .puntos{
    /* width: 80%; */
    font-weight: bold;
    text-align: center;
}